[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
[submodule "stackless"]
	path = stackless
	url = https://github.com/stackless-dev/stackless.git
[submodule "c2rust"]
	path = c2rust
	url = https://github.com/immunant/c2rust.git
[submodule "CPP2D"]
	path = CPP2D
	url = https://github.com/lhamot/CPP2D.git
[submodule "c2go"]
	path = c2go
	url = https://github.com/elliotchance/c2go.git
